body{
    font-family: 'Roboto', sans-serif;
}
main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.jumbotron {
    text-align: center;
}

.footer-copyright.py-3.white {
    color: white;
}

footer.page-footer {
    background-color: #212121;
    margin-top: 2rem;
}
.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}


.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;

}

a.logo-wrapper.waves-effect {
    display: block;
}
.sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    z-index: 1050;
    background-color: #fd2028;
    padding: 0 1.5rem 1.5rem;
}

a.btn-floating.btn-lg.blue.waves-effect.waves-light {
    border-radius: 50%;
    color: white;
    background: gray;
    padding: .5rem .7rem;
    top: 14px;
    position: relative !important;
}

.fixed-action-btn {
    display: inline-block;
    position: absolute;
    top: 0px;
}
.bitem {
    display: flex;
    border: 1px solid lightgray;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0 4px 0;
}
.indicadores ul {
    list-style: none;
    display: inline-block;
    padding:0;
}
li.indicador {
    width: 25px;
    height: 25px;
    background: gray;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}
.indicador:after {
    content: "";
    width: 35px;
    height: 34px;
    border: gray 2px solid;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: -5px;
    top: -4px;
}
li.indicador.active{
    background: red;
}
.indicador.active:after{
    border: red 2px solid;
}
.contador {
    display: block;
    width: 25%;
    height: 10px;
    background: blue;
}
.btn-right{
    float:right;
}
.fixed-content-btn {
    text-align: center;
}

a.card-link {
    color: #000 !important;
    font-weight: 300;
}

.dashboard .card-link:hover {
    text-decoration: none;
    color: red !important;
}
#pasos-carga{
    position: relative;
}
.text-center.cargador {
    padding-top: 7%;
}

#pasos-carga .capa {

    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
}
@media (min-width: 1200px){
    .navbar, .page-footer, main {
        padding-left: 0 !important;
    }
}
